<h1>Welcome to Checkmate</h1>
<h2>Chess Game</h2>

<% @games.available.each do |game| %>
  <div class="booyah-box col-10 offset-1">
    <p> Game number: <%= game.id %> </p>
    <p> White Player ID: <%= game.white_player_id %> </p>
    <p> Black Player ID: <%= game.black_player_id %> </p>
  </div>
  <% end %>
